.maplibregl-popup-tip {
  display: none;
}

/* allow scroll through popups */
.maplibregl-popup,
.maplibregl-popup-content,
.vehicle-popup,
.unit-popup,
.maplibregl-popup-content {
  pointer-events: none !important;
  user-select: none !important;
  background: none !important;
  background-color: transparent !important;
  /* font-family: "Pixelated MS Sans Serif", Arial; */
  font-family: monospace !important;
  font-size: 10px !important;
  line-height: 1 !important;
  /* outline */
  color: black !important;
  /* -webkit-text-stroke: 0.2px white; */
  /* -webkit-text-fill-color: black; */
  /* text-shadow: -1px 1px 0 #000; */
  /* 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */

  box-shadow: none !important;
  border: none !important;
  padding: none !important;
  margin: none !important;
}